$nushell-green: #4E9A06;

@use "./node_modules/bulma/sass" as bulma with (
  $primary: $nushell-green
);

.hide-html-output-background > div {
  background-color: inherit !important;
}

.output pre {
  line-height: 1.17;
}
